{% extends "base.html" %}
{% block form %}
{{title}}
<style media="all">
.input-control-text {
	max-width: 500px; 
	padding: 15px; 
	margin: 0 auto 10px;}
</style>

<form method="GET" action="home.reg.py">
<div class="input-control-text">
	<div class="panel panel-default">
	    <div class="panel-body">
		Username <br>
		<input type="text" name="username">
		<br> <br>
		E-mail <br>
	    <input type="text" name="email">
	    <br><br>
	    Password<br>
	    <input type="password" name="password">
	    <br><br>
	    <input type="submit" value="Register">
	    <br><br>
	    <a href="login.py" name="login">Already a member? Login.</a>
	    </div>
	</div> 
</div>
</form >
{% endblock %}