{% extends "sidebar.html" %}

{% block form %}
<style>
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
</style>
	<link type="text/css" href="view/css/book-item.css" rel="stylesheet">
            <div class="col-md-9">
                <div class="thumbnail">
                	<div class="col-md-4 left-side">
                        <center>
                        <img class="img-responsive" src={{book[5]}} style="width:200px;padding-top:30px;padding-bottom:20px;">
                        <div class="btn-group dropup">
                        <div class="dropdown">
                                <input type="hidden" id="book" name="book" class="form-control" value="{{book[1]}}">
                                <input type="hidden" id="price" name="book" class="form-control" value="{{book[2]}}">
                                {%- if book_exists == False -%} 
                                <form id="form" action="add-to-cart.py" method="GET">
                                <input type="hidden" id="email" name="email" class="form-control" value="{{user[2]}}">
                                <input type="hidden" id="ISBN" name="ISBN" class="form-control" value="{{book[0]}}">
                                <button type="submit" id="btn" class="btn btn-danger" onclick="onConfirm()">Add to Cart </button>
                                <script>
                                function onConfirm() {
                                    var link;
                                    book = document.getElementById("book").value
                                    price = document.getElementById("price").value
                                    if (confirm("Add " + book + " (PHP" + price + ") to cart?") == true) {
                                        link = "add-to-cart.py";
                                    } else {
                                        link = "book-item.py";
                                    }
                                    document.getElementById("form").action = link;
                                }
                                </script>
                                </form>
                                {% else %} 
                                <form id="form" action="remove-from-cart.py" method="GET">
                                <input type="hidden" id="email" name="email" class="form-control" value="{{user[2]}}">
                                <input type="hidden" id="ISBN" name="ISBN" class="form-control" value="{{book[0]}}">
                                <button type="submit" id="btn" class="btn btn-danger" onclick="onRemove()">Remove from Cart </button>
                                <script>
                                function onRemove() {
                                    var link;
                                    book = document.getElementById("book").value
                                    price = document.getElementById("price").value
                                    if (confirm("Remove " + book + " (PHP" + price + ") from cart?") == true) {
                                        link = "remove-from-cart.py";
                                    } else {
                                        link = "book-item.py";
                                    }
                                    document.getElementById("form").action = link;
                                }
                                </script>
                                </form>
                                {% endif %} 
                          </div>
                        </div>
                    </center>
                    </div>
                    <div id="desc" class="col-md-8 right-side" style="padding-top:25px">
                        <header>  
                        <h4><strong>{{book[1]}}</strong></h4> 
                        <div class="price">
                        <p class="pull-right" style="font-size:15px;">PHP{{book[2]}}
                        </p>
                        </div>  
                    </header>                        
                        <h5><bold>by 
                            {% for author in authors %}
                            <a href="author-profile.py?email={{user[2]}}&author={{author[1]}}">
                            {{author[0]}}
                            </a>
                            {%- if loop.index < authors|length -%}
                            ,
                            {% endif %} 
                            </bold>
                            {% endfor %}
                        </h5>
                        <hr>                      
                        <div class="comment more">
                            {%- if book[4] == None -%} 
                                No description available 
                            {% else %} 
                                {{book[4]}}
                            {% endif %} 
                            </div>
                        <hr>
                        <h6>
                        <p>{{book[7]}}, {{book[8]}} pages </p>
                        <p>Publisher: {{book[3]}}</p> 
                        <p>Date Published: {{book[6]}}</p>
                        <p>ISBN: {{book[0]}}</p>
                        <p>Literary Awards: </p>
                        <p>Genre: {% for genre in genres %} 
                            <a href="home.py?email={{user[2]}}&genre={{genre[0]}}">{{genre[0]}} </a>
                            {%- if loop.index < genres|length -%}
                            ,
                            {% endif %}  {% endfor %}</p> 
                        </h6>
                        <hr>
                        <div class="ratings" style:"position:absolute; bottom:0px;">
                            <p class="pull-right">3 reviews</p>
                            <p class="pull-bottom">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0 stars
                            </p>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}