{% extends "sidebar.html" %}

{% block form %}
	<link type="text/css" href="view/css/user-profile.css" rel="stylesheet">
            <div class="col-md-9">
                <div class="thumbnail">
                    <div style="padding:40px" align="center">
                        <header> <h4><strong>Credit Card Payment</strong></h4> </header>  
                        <hr>
                        <form action="payment-page.py" method="POST">
                            <div style="padding:18px"><strong>Enter Credit Card Number</strong></div>
                            <input type="hidden" id="email" name="email" class="form-control" value="{{user[2]}}">
                            <div style="padding-bottom:20px"><input type="text" id="creditcard" name="creditcard" class="form-control" style="width:20%" required autofocus></div>
                            <button type="submit" id="btn" class="btn btn-success" style="width:18%">Submit</button>
                        </form>
                    </div>
                </div>           
            </div>

{% endblock %}
