{% extends "sidebar.html" %}

{% block form %}
    <style>
            body {
              padding-top: 70px;
              background-color: #eee;
            }
            .panel-body{
                height: 300px;
            }
            .lead{
                font-size: 17px;
            }
            hr {
              display: block;
              height: 1px;
              border: 0;
              border-top: 1px solid #ccc;
              margin: 1em 0;
              padding: 0; 
            }
    </style>
    <link type="text/css" href="view/css/user-profile.css" rel="stylesheet">
    <link type="text/css" href="view/css/jquery-ui.css" rel="stylesheet">
     
    <div class="col-sm-9" style="overflow:visible;">
    <div class="list-group-item" style="background-color:#222; color:#aaa; "> <h4>Create New Comic Book </h4></div>
    <div class="thumbnail" style="padding:50px; padding-top:20px; padding-bottom:20px; overflow: visible;">

    {% if (user[9]=='Y') -%}
    {%- if error -%}
        <div class="panel panel-danger" >
                        <div>{{error}}</div>
                </div>
    {% endif %}
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
         
        <form  id="form-user" method="POST"  action="create-update-comic-book.py?action=save">
        <strong>ISBN</strong>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="ISBN" type="text" value="{{bookform[0]}}" style="width:200px;"/>
            {% else %}
            <input class="form-control" name="ISBN" type="text" placeholder="ISBN" style="width:200px;"  required /> 
            {% endif %}
        </p></h6>
        <p><strong>Title</strong> </p>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="title" type="text" value="{{bookform[1]}}" style="width:350px;"/>
            {% else %}
            <input class="form-control" name="title" type="text" placeholder="Title" value="{{bookform[1]}}" style="width:350px;"  required /> 
            {% endif %}
        </p></h6>        
        <p><strong>Writers</strong> </p>
        <select id="writers" name="writers" multiple="multiple">
         {{writers}}
        </select>
        <!-- Initialize the plugin: -->
        <script type="text/javascript">
                $(document).ready(function() {
                    $('#writers').multiselect({includeSelectAllOption: true,enableFiltering: true});
                });
        </script>
        </p></h6>
        <p>Writer not in the list? <a>Create a new writer.</a> </p>
        <p><strong>Illustrators</strong> </p>
        <select id="illustrators" name="illustrators" multiple="multiple">
         {{illustrators}}
        </select>
        <!-- Initialize the plugin: -->
        <script type="text/javascript">
                $(document).ready(function() {
                    $('#illustrators').multiselect({includeSelectAllOption: true,enableFiltering: true});
                });
        </script>
        </p></h6>
        <p>Illustrator not in the list? <a>Create a new illustrator.</a> </p>
        <p><strong>Genres</strong> </p>
        <select id="genres" name="genres" multiple="multiple" >
         {{genres}}
        </select>
        <!-- Initialize the plugin: -->
        <script type="text/javascript">
                $(document).ready(function() {
                    $('#genres').multiselect({includeSelectAllOption: true,enableFiltering: true});
                });
        </script>
        </p></h6>
        <p>Genre not in the list? <a>Create a new genre.</a> </p>
        <strong>Price</strong> </p>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="price" type="text" value="{{bookform[2]}}" style="width:350px;"/>
            {% else %}
            <input class="form-control" name="price" type="text" placeholder="Price" value="{{bookform[2]}}" style="width:350px;"  required /> 
            {% endif %}
        </p></h6>
        <p><strong>Publisher</strong> </p>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="publisher" type="text" value="{{bookform[3]}}" style="width:350px;"/>
            {% else %}
            <input class="form-control" name="publisher" type="text" placeholder="Publisher" value="{{bookform[3]}}" style="width:350px;"  required /> 
            {% endif %}
        </p></h6>
        <p><strong>Date Published</strong> </p>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="datepub" type="text" value="{{bookform[6]}}" style="width:350px;"/>
            {% else %}
            <input class="form-control" name="datepub" type="text" placeholder="Date Published" value="{{bookform[6]}}" style="width:350px;"  required /> 
            {% endif %}
        </p></h6>
        <p><strong>Format</strong> </p>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="format" type="text" value="{{bookform[8]}}" style="width:350px;"/>
            {% else %}
            <input class="form-control" name="format" type="text" placeholder="Format" value="{{bookform[8]}}" style="width:350px;"  required /> 
            {% endif %}
        </p></h6>
        <p><strong>Length</strong> </p>
        <h6><p class="lead">
            {% if book != None %}
            <input class="form-control" name="length" type="text" value="{{bookform[7]}}" style="width:350px;"/>
            {% else %}
            <input class="form-control" name="length" type="text" placeholder="Length" value="{{bookform[7]}}" style="width:350px;"  required /> 
            {% endif %}
        </p></h6>
        <strong>Literary Awards</strong> 
        <h6><p class="lead">
        <textarea class="form-control" name="awards" type="text" rows="3" placeholder="Literary Awards" style="width:100%;height:50px;">{% for award in bookform[9] %}{{award}}{%- if loop.index < bookform[9]|length -%},{% endif %}{% endfor %}</textarea>
        <p>*Separate each litarary award using a comma.</p>
        </h6></p>
        <br>
        <strong>Description </strong> 
        <h6><p class="lead">
        <textarea class="form-control" name="bookdesc" type="text" rows="3" placeholder="Description" style="width:100%;height:150px;">{{bookform[4]}}</textarea>
        </p></h6>
        <p class="lead" align="right">
            <input class="btn btn-success" type="submit" value="Save" style="width:100px;"></input>
            {% if book == None %}
                <a class="btn btn-danger" href="home.py?" role="button" style="width:100px;">Cancel</a>
            {% else %}
                <a class="btn btn-danger" href="home.py?isbn={{bookform[0]}}" role="button" style="width:100px;">Cancel</a>
            {% endif %} 
        </p>
        </form >
    {% else %}
    <div class="panel panel-danger">
        <div class="panel-body">You don't have permission to access this page!</div>
        </div>
    {% endif %}  
    </div>    
    </div>  
{% endblock %}
