{% extends "sidebar.html" %}

{% block form %}
<style>
    body {
        padding-top: 70px;
        background-color: #eee;
    }
    .panel-body{
      height: 300px;
    }
    </style>

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

           <div class="page-header">
            {{% - if genre != - %}}
            <h1>Hello, {{fname}} {{lname}}.</h1>
            <h4><p class="lead">Disable the responsiveness of Bootstrap by fixing the width of the container and using the first grid system tier. <a href="http://getbootstrap.com/getting-started/#disable-responsive">Read the documentation</a> for more information. <p></h4>
           </div>

          <div class="row">
            {% for title in titles %}
            <div class="col-sm- col-lg-3">
              <div class="panel panel-default">
              <div class="panel-body">
              <center> 
              <a href="#" ><img src= {{title[6]}} style="height:160px;" margin=15px> </img></a>
              <h5><a href="#" style="color: #B00000 ">{{title[1]}}</a></h5>
              <p><h6>Price: P{{title[2]}}</h6></p>
              <p><a class="btn btn-danger" href="#" role="button">Learn more &raquo;</a></p>
              </center>
            </div>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->   

{% endblock %}
