{% extends "sidebar.html" %}

{% block form %}
<style>
    body {
        padding-top: 70px;
        background-color: #fff;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div class="jumbotron">
            <h1>Hello, {{fname}}!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>
          
          <div class="row">
            {% for title in titles %}
            <div class="col-xs-4 col-lg-4">
              <div class="panel panel-default">
              <center> 
              <img src= {{title[6]}} style="height:150px;" margin=15px> </img>
              <h2>{{title[1]}}</h4>
              <p><h5>Price: P{{title[2]}}</h5></p>
              <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
              </center>
            </div>
            </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->   

{% endblock %}
