{% extends "navbar.html" %}

{% block sidebar %}
    <script>
        $(document).ready(function() {
            document.getElementById("{{genre}}").className = "list-group-item active";
        });
    </script>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <div class="list-group-item" style="background-color:#222; color:#aaa; ">Browse Categories</div>
            <a href="#" id="New" class="list-group-item">New Arrivals</a>
            <a href="#" id="YA" class="list-group-item">Young Adult</a>
            <a href="home.py?email={{user[2]}}&genre=Mystery" id="Mystery" class="list-group-item">Mystery</a>
            <a href="home.py?email={{user[2]}}&genre=Science Fiction" id="Science Fiction" class="list-group-item">Science Fiction</a>
            <a href="home.py?email={{user[2]}}&genre=Fantasy" id="Fantasy" class="list-group-item">Fantasy</a>
            <a href="home.py?email={{user[2]}}&genre=General Fiction" id="General Fiction" class="list-group-item">General Fiction</a>
            <a href="home.py?email={{user[2]}}&genre=Graphic" id="Graphic Novelss" class="list-group-item">Graphic Novels/Manga</a>
            <a href="home.py?email={{user[2]}}&genre=Non-Fiction" id="Non-Fiction" class="list-group-item">Non-Fiction</a>
            <a href="#" id="BusMark" class="list-group-item">Business and Marketing</a>
            <a href="#" id="Humor" class="list-group-item">Humor</a>
            <a href="#" id="Adv" class="list-group-item">Advanced Search</a>
          </div>
        </div>
{% endblock %}