{% extends "navbar.html" %}

{% block sidebar %}
    <script>
        $(document).ready(function() {
            document.getElementById("{{genre}}").className = "list-group-item active";
        });
    </script>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <div class="list-group-item" style="background-color:#222; color:#aaa; ">Browse Categories</div>
            <a href="home.py?email={{user[2]}}&genre=Action/Adventure" id="Action/Adventure" class="list-group-item">Action/Adventure</a>
            <a href="home.py?email={{user[2]}}&genre=Crime Fiction" id="Crime Fiction" class="list-group-item">Crime Fiction</a>
            <a href="home.py?email={{user[2]}}&genre=Fantasy" id="Fantasy" class="list-group-item">Fantasy</a>
            <a href="home.py?email={{user[2]}}&genre=Humor" id="Humor" class="list-group-item">Humor</a>
            <a href="home.py?email={{user[2]}}&genre=Science Fiction" id="Science Fiction" class="list-group-item">Science Fiction</a>
            <a href="home.py?email={{user[2]}}&genre=Slice of Life" id="Slice of Life" class="list-group-item">Slice of Life</a>
            <a href="home.py?email={{user[2]}}&genre=Superhero" id="Superhero" class="list-group-item">Superhero</a>
            <a href="home.py?email={{user[2]}}&genre=Young Adult" id="Young Adult" class="list-group-item">Young Adult</a>
          </div>
        </div>
{% endblock %}