{% extends "sidebar.html" %}

{% block form %}
	<link type="text/css" href="view/css/user-profile.css" rel="stylesheet">
            <div class="col-md-9">
                <div class="thumbnail">
                    <div style="padding:40px" align="center">
                        <header> <h4><strong>Thank you for shopping at EZComics!</strong></h4> </header>  
                        <hr>
                            <div style="padding:18px">
				Please wait for your comic book(s) to be delivered within 5 - 10 business days. <br/>
				<a href="user-profile.py?user={{user[2]}}"> You can check status of your order in your profile page.</a> <br/>
			   </div>
                            <a href="home.py?email={{user[2]}}"> Click here to continue shopping and place another order. </a> <br>
                    </div>
                </div>           
            </div>

{% endblock %}
